.toast {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 15;
}

.toast-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 300px;
    min-height: 80px;
    background-color: #6180ce;
    border: 2px solid #f2c94c;
    border-radius: 5px;
    color: #fff;
}

.toast-item:not(.toast-active) {
    display: none;
}

.toast-icon {
    font-size: 30px !important;
    color: #f2c94c;
}

.toast-message {
    width: 100%;
    padding-left: 10px;
    text-align: left;
}
